@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
  }
}

:root {
  font-family: 'Inter', sans-serif;
}